.slider-control {
  @apply my-3 mr-5 h-[30px] w-[30px] rounded-full bg-navy-300 hover:bg-navy-500  focus:bg-navy-100 sm:mr-2;
}

.slick-track {
  @apply ml-0 animate-spin-slow !important;
}

@keyframes spin {
  100% {
    transform: translateX(calc(-517px * 9));
  }
}

@media screen and (max-width: 1800px) {
  @keyframes spin {
    100% {
      transform: translateX(calc(-432px * 9));
    }
  }
}

@media screen and (max-width: 1536px) {
  @keyframes spin {
    100% {
      transform: translateX(calc(-403px * 9));
    }
  }
}

@media screen and (max-width: 1280px) {
  @keyframes spin {
    100% {
      transform: translateX(calc(-326px * 9));
    }
  }
}

@media screen and (max-width: 1024px) {
  @keyframes spin {
    100% {
      transform: translateX(calc(-269px * 9));
    }
  }
}

@media screen and (max-width: 768px) {
  @keyframes spin {
    100% {
      transform: translateX(calc(-269px * 9));
    }
  }
}

@media screen and (max-width: 640px) {
  @keyframes spin {
    100% {
      transform: translateX(calc(-206px * 9));
    }
  }
}
