/* Tailwind base */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Allison Regular';
  src: url('./fonts/Allison-Regular.ttf');
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-VariableFont_wght.ttf');
}

@layer base {
  html {
    font-family: 'Nunito', sans-serif;
  }
}

/* Custom Components */
@import './css/chat-bubble.css';
@import './css/testimonials.css';
