/* Tailwind base */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Allison Regular';
  src: url('./fonts/Allison-Regular.ttf');
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-VariableFont_wght.ttf');
}

@layer base {
  html {
    @apply font-nunito bg-main-backgound
  }
  h2 {
    @apply text-5xl text-center font-semibold text-navy-900;
  }
  p {
    @apply text-base;
  }
}

/* Custom Components */
@import './css/body-heading.css';
@import './css/chat-bubble.css';
@import './css/testimonials.css';
